@import "https://a.thered.sh/assets/fa/css/all.min.css";
@import "https://a.thered.sh/assets/fonts/Roboto/font.css";

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #1a1310;
    color: white;
    font-family: "Roboto Regular";
}